<nav>
	<a href="index.html" class="brand">
		<img class="logo" src="favicon.png" />
		<span>Aurora</span>
	</a>
	<input id="clickMenu" type="checkbox" class="show">
	<label for="clickMenu" class="burger pseudo button">меню</label>

	<div class="menu">
		<a href="magnitosfera.html"
		    class="{% if page.name != 'magnitosfera.html' %}pseudo{% endif %} button">
		    Магнитосфера
		</a>
		<a href="slance.html"
		    class="{% if page.name != 'slance.html' %}pseudo{% endif %} button">
		    Слънце
		</a>
	</div>
</nav>