body {
	padding-top: 50px;
}
h1 {
    /*color: AntiqueWhite;*/
    /*color: rgb(100,50,10);*/
    color: rgb(32,164,15);
    /*color: #20a40f;*/
}
.sini:hover {
    color: blue;
    background-color: lightblue;
}
#me ~ p {
    color: orange;
}

a:link {
    color: blue;
}

a:visited {
    color: orange;
}

a:active {
    color: white;
}

p::first-line {
    color: purple;
}
p::first-letter {
    color: red;
}
p::selection {
    background-color: yellow;
    color: purple;
}
p {
   /*font-family: 'VelekaRegular';*/
   font-family: "VelekaRegular", serif;
   font-weight: normal;
   font-style: normal;
}
